.etatstatut{
    text-transform: uppercase;
    margin: 0;
    padding: 0 5px;
    display: inline-block;
    font-weight: bold;
    /*background-color: #fff;*/
    letter-spacing: 2px;
    border : solid 2px #fff;
    
}

.etatstatut.stat2{
    color: rgba(38, 185, 154, 0.88);
    border-color: rgba(38, 185, 154, 0.88);
}

.etatstatut.stat1{
    color: rgba(52, 152, 219, 0.88);
    border-color: rgba(52, 152, 219, 0.88);
}

.etatstatut.stat0{
    color: rgba(243, 156, 18, 0.88);
    border-color: rgba(243, 156, 18, 0.88); 
}

.etatstatut.stat-1{
     color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88); 
    
}
table>tbody>tr.stat2>td { background-color:rgba(38, 185, 154, 0.18);}
table>tbody>tr.stat1>td { background-color:rgba(52, 152, 219, 0.18);}
table>tbody>tr.stat0>td { background-color:rgba(243, 156, 18, 0.18);}
table>tbody>tr.stat-1>td { background-color:rgba(231, 76, 60, 0.18);}

table>tbody>tr>td.actions>a, table>tbody>tr>td.actions>form {display:inline-block; vertical-align:middle; margin:0 5px 0 0; }

form.sform{
    background-color:#f7f7f7;
    padding: 10px;
    
}
form.sform label{
    display: block;
   
}
.label-search{
    background-color:#ababab;
    margin: 5px;
}